<!DOCTYPE html>
<html lang="en">
<head>
	<title>Rutgers Course Sniper</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<!--===============================================================================================-->
</head>
<body>

	<div class="contact1">
		<div class="container-contact1">
			<div class="contact1-pic js-tilt" data-tilt>
				<img src="{{ url_for('static', filename='images/img-01.png') }}" alt="IMG">
			</div>

			<form method="POST" class="contact1-form validate-form">
				<span class="contact1-form-title">
					Course Sniper
				</span>

				<div class="wrap-input1 validate-input" data-validate = "Index number is required">
					<input class="input1" type="text" name="index" placeholder="Index Number">
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Phone number is required">
					<input class="input1" type="tel" name="phone" placeholder="Phone Number">
					<span class="shadow-input1"></span>
				</div>


				<div class="container-contact1-form-btn">
					<input type="Submit" class="contact1-form-btn">
				</div>

				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<center><p><br/>{{ message }}</p></center>
						{% endfor %}
					{% endif %}
				{% endwith %}

			</form>
		</div>
	</div>



</body>
</html>
